<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Analysis
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Many different analysis techniques are used across Cyber Security. The purpose of the analysis varies depending on the area, as do the techniques used to perform the analysis. Two analysis techniques closely related to Cyber Security are listed below.</p>

            <hr class="featurette-divider">
                <p style="text-align: center;"><b>Network Analysis</b></p>
                <p>Analysing the traffic on a network the size of the internet is an incredibly challenging task. There are many different companies and individuals working to monitor web traffic in order to identify potential threats and provide a 'map' or visualization of some data about the network. One such tool is the live attack <a href="http://map.norsecorp.com/" target="_blank">map</a> provided by the company <a href="http://norsecorp.com/" target="_blank">NORSE</a>[3], which provides real time information on DDOS attacks which they are tracking throughout the world.</p>

                <div style="text-align: center;"><img class="maxfill" src="./img/imap.gif"/>[1]</div>
                <hr class="featurette-divider">
                <p style="text-align: center;"><b>Program Analysis</b></p>
                <p>Undetected vulnerabilities and bugs in software have gone from being a minor annoyance to the root cause of many serious security breaches in the last decade. In order to combat this new threat tools which can automatically detect potential issues with software have become popular, allowing developers to spot issues with their products before they ever enter production.</p>

                <div style="text-align: center;"><img class="maxfill" src="./img/analysis.png"/>[2]</div>

                <p><h4>Static Analysis</h4></p>
                
                <p>Static analysis tools attempt to reason about how a program will behave by examining the program code.</p>

                <p>On simple pieces of code various types of deterministic static analysis can be used to find common programmer errors such as uninitialized variables or unsafe casting. These tools often cannot find complex issues in a codebase however, as many pieces of code cannot be reasoned about deterministically.</p>

                <p>For larger pieces of code or complex vulnerabilities heuristic static analysis techniques can be used to find issues. These techniques can find more complex issues in code, however they do not reason about the code perfectly and so they can produce false positives.</p>
                
                <p><h4>Dynamic Analysis</h4></p>
                <p>One other popular program analysis technique is dynamic program analysis. In dynamic program analysis the program is executed and the program execution or 'path' is analysed. This analysis technique can expose errors which are commonly missed by other techniques and does not produce false positives, however it is often more computationally expensive then other techniques. It is also unsuited to testing certain types of software, like software that loops indefinitely.</p>
                <hr class="featurette-divider">
                <p><b>[1]</b> <a href="https://trtpost-wpengine.netdna-ssl.com/files/2014/07/internet-map-680x400.gif">https://trtpost-wpengine.netdna-ssl.com/files/2014/07/internet-map-680x400.gif</a></p>
                <p><b>[2]</b> <a href="http://solutiondesign.com/documents/10282/21566/analysis.png/98f257d1-0741-4548-b5c9-d058fe5c6308?t=1405450105000">http://solutiondesign.com/documents/10282/21566/analysis.png/98f257d1-0741-4548-b5c9-d058fe5c6308?t=1405450105000</a></p>
                <p><b>[3]</b> <a href="http://www.norse-corp.com/">NORSE corp http://www.norse-corp.com/</a></p>
            </div>
        </div>
    </div>
</div>