<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Authenticity
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Consider two scenarios: a person Alice wants to communicate with a person Bob but Alice wants to make sure that the messages she receives actually comes from Bob and Alice wants to access her cloud via a login. These two scenarios are situations that which are very often seen on the Internet and they both require two different kinds of authentication: data origin authentication and, respectively, entity authentication.</p><p>
The two scenarios above can be solved with two different authentication concepts. Data origin authentication is concerned with authenticating the data and its origin. The time the data is send is not relevant in this sense nor is the immediate source from where the data comes from relevant. Entity authentication is concerned with authenticating the active entity in a communication session. Data origin authentication and entity authentication are not the same thing. </p><p>
It is useful to bear in mind that Authentication is not the same thing as non-repudiation. Non-repudiation implies authentication but the converse is not true. There are methods that provides authentication but not non-repudiation (such as message authentication codes). Indeed, non-repudiation is, at is core, a legal concept. 
</p>
            </div>
        </div>
    </div>
</div>