<div class="container">

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Computer Security
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>In recent years we have started to use computers more and more in our every-day lives which opens up a new channel of attack to potential cyber criminals. Also, it is estimated that the cost of computer security breaches reaches billions of pounds each year, so there is a clear need for businesses and individuals to invest appropriately in security measures. As a result, it is obvious that computer security is an absolutely necessary area of cyber security.</p><p>

There are many ways in which a computer can be targeted by an attacker. Also, any files stored in main memory or on a hard disk are prime targets for an attacker. If an attacker gains access to or modifies operating system files, the computer may malfunction or be under the control of the attacker. There may also be personal information stored on the computer such as passwords that an attacker might want to steal. One method to stop this from happening might be disk encryption.</p><p>

Also, the hardware components of a computer system (or mobile phones) such as cameras or microphones can be hacked into giving criminals leverage to blackmail the victim. Another form of attack is surveillance in the form of key-loggers that monitor inputs into the keyboard and can expose credit card details or passwords to malicious entities.
There are various ways in which computer security is enforced in practice. Enforcing access control and improving the user authentication procedure is a simple way to improve computer security. Furthermore, certain operating systems contain less vulnerabilities than others and proper programming practice can also reduce the number of vulnerabilities that a computer system contains. Finally, the use of firewalls and antivirus software can also offer protection from external threats to a computer.
</p>
            </div>
        </div>
    </div>
</div>