<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 What is Cyber Security?
		</h2>
            <hr class="featurette-divider">
            <div>
                <p><img class="thumb" src="./img/austria.png"/><b class="nudged">Austria</b></p><p>
Cyber security describes the protection of a key legal asset through constitutional means against actor-related, technical, organisational and natural dangers posing a risk to the security of cyber space (including infrastructure and data security) as well as the security of the users in cyber space. Cyber security helps to identify, assess and follow up on threats as well as to strengthen the ability to cope with interferences in or from cyber space, to minimise the effects as well as to restore the capacity to act and functional capabilities of the respective stakeholders, infrastructures and services.</p><p>
Source: Austrian Cyber Security Strategy (2013)</p>



<p><img class="thumb" src="./img/usa.png"/><b class="nudged">USA</b></p><p> 
1.The activity or process, ability or capability, or state whereby information and communications systems and the information contained therein are protected from and/or defended against damage, unauthorized use or modification, or exploitation.<br/>
2. Strategy, policy, and standards regarding the security of and operations in cyberspace, and encompass[ing] the full range of threat reduction, vulnerability reduction, deterrence, international engagement, incident response, resiliency, and recovery policies and activities, including computer network operations, information assurance, law enforcement, diplomacy, military, and intelligence missions as they relate to the security and stability of the global information and communications infrastructure.</p><p>
Source: National Initiative for Cybersecurity Careers and Studies - A Glossary of Common Cybersecurity Terminology</p>


<p><img class="thumb" src="./img/oxford.png"/><b class="nudged">Oxford Dictionary</b></p><p>
[Cybersecurity] The state of being protected against the criminal or unauthorized use of electronic data, or the measures taken to achieve this.</p>




<p><img class="thumb" src="./img/norway.png"/><b class="nudged">Norway</b></p><p>
Protection of data and systems connected to the Internet. </p><p>
Source: Cyber Strategy for Norway (2012)


</p>
            </div>
        </div>
    </div>
</div>