<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Firewall
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>A firewall is a piece of software or computer (hardware) that sits between an internal network and the rest of the network (typically the Internet) to prevent malicious access. Systems, computers and networks are typically not designed with security in mind and leaves many services exposed. Typically these services are also exposed to the Internet. But the Internet is a scary place. It is swamped with spies, press people, criminals and vandals who attempt to compensate for their lack of social life by annoying others.</p><p>
  A firewall manages the access to the many services that might be exposed to external networks.  Such services could include telnet, ftp, ICMP etc. Many of these are potentially dangerous. For instance, ICMP ping can be exploited to find machines to break into. A firewall works by restricting access to the internal network by enforcing rules and policies on the traffic which is passing through it. This should in theory prevent outsiders from accessing vulnerable services.</p><p>
  Generally, firewalls alone (without also doing end-to-end security) assume that the bad guys are on the outside, and everyone inside can be completely trusted. This is however not a realistic assumption. Therefore, firewalls must be augmented with other kinds of security. Also working with firewalls can be tedious and difficult for non-technical people. But even though firewalls have shortcomings they remain an important tool to secure networks and should be part of any security setup. 
</p>
            </div>
        </div>
    </div>
</div>