<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Integrity
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Integrity is one of the 3 main aspects of cyber security: Confidentiality, Integrity and Availability. This element of cryptography involves guaranteeing that information has not been modified without authorization. Therefore this is one step more secure than just confidentiality alone, where an attacker can read but not write information. This applies to data in transit and data in storage.  In transit this is generally about detecting as opposed to stopping the modification of messages, because stopping all accidental and non-accidental modifications in a public channel is not feasible. Sometimes these modifications can be corrected after detection. Within a system, integrity is concerned with ensuring the system state has not been modified in an unauthorized way. </p><p>

Cryptographic checksums can be used to ensure the integrity of data.  This is a function of the message that can only be computed by the sender. If any part of the message is modified then this will not match the original checksum, but a malicious party cannot compute a new checksum.  Therefore the modification is detected by the receiver. Hash functions are often used for these checksums; these are functions that map a large set of inputs to a fixed (smaller) set of outputs. Specifically cryptographic has functions are often used, which are very hard to reverse ie given an output it is very hard to find an input. It should also be hard to find two inputs with an identical output. </p>
            </div>
        </div>
    </div>
</div>