<div class="container">

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Network Security
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Network security is involved with protecting a network to ensure that it maintains full functionality. Network security is important to individuals and organisations alike and the widespread use of network security make it a crucial part of cyber security. Network security goes a long way in protecting us from malicious entities since most attacks will utilise connectivity to a network. Users and hardware connected to the network are at risk if adequate security measures are not enforced. Furthermore, network security allows for administrators to monitor their networks to prevent unauthorised access or keep an audit trail of network usage.</p>

<p>Various network protocols are implemented in software to provide services such as reliable delivery, error detection, modification, authenticity, confidentiality etc. The TCP/IP suite provides a list of protocols used by the Internet and includes well known protocols such as TLS/SSL (cryptographic) and TCP (reliability and error detection). A more general model for network architecture is the OSI model and various security services can be applied at the different layers to ensure that a network is secure. Another important piece of software in network security is the firewall.</p>

<p>There are various hardware components that can be vulnerable to attack in a network. An obvious example is a server which could be subject to a DDoS attack. Database severs with sensitive information are also a potential risk when they are used to store sensitive information. Further, devices that are constantly connected to networks such as PC’s and mobile phones are also susceptible to malware attacks due to their connectivity. These are just a few examples of the dangers that network security aims to counter but hopefully the influence of network security as a subset of cyber security has been made clear.</p>
            </div>
        </div>
    </div>
</div>