<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Privacy
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Privacy is a wide arching concept which can be applied to individuals, groups, and organisations. It is all about the ability of an individual, or a group, to keep information about themselves sequestered. In modern Britain the increase in surveillance measures such as huge numbers CCTV cameras are a serious threat to the privacy of the individual;
it is estimated that there are between 4 million and 5.9 million CCTV cameras in the U.K.  Given new developments in Gait Biometrics [3], the potential for people to be immediately identified from CCTV footage in the future is not out of the realms of possibility.</p><p>

The leaks of classified documents by U.S government contractor Edward Snowden in July 2013 showed us the scope of the capabilities of intelligence agencies around the world, in particular the National Security Agency (NSA). A good example of this scope is Tempora, a tool used by the Government Communications Headquarters (GCHQ) in the U.K, which gives GCHQ access to 21 Petabytes (21,000 Terabytes, or 21,000,000 Gigabytes) of internet traffic each day [1].</p><p>

There are two main types of data which are collected by security services, and in particular Tempora, content: images shown on a webpage, the words written in an email or spoken over a telephone call, and metadata which is ‘data about data’ that is, for example, the time and length of phone calls between two numbers. As far as we know, Tempora stores metadata for up to 30 days and content for up to 3 days, with analysts able to store ‘interesting’ information for longer. In the United States over 850,000 private contractors have access to the U.S equivalent of Tempora, one of whom was Edward Snowden. This is a huge number of people with access to highly private personal information.</p><p>

Here we have a juxtaposition in our question “what is Cyber Security”; an individual may see their online privacy as an integral part of their cyber security, whereas an intelligence service of a foreign nation almost certainly would not. </p><p>

In the private sector, Facebook and other social media websites also collect a huge amount of information on their users. Photos, videos and profiles viewed; time of log-in; location of log-in; all posts and personal information uploaded by the user are just a few of the pieces of information that Facebook collects on each and every one of their users. This has massive implications for the privacy of an individual when a cyber attack occurs, such as that against TalkTalk recently where, alarmingly, not all of the personal information of their clients was encrypted.</p><p>

There are tools such as TOR which can be used online to enhance one’s privacy online by ‘shielding’ their online activities. It is worth noting, however, that GCHQ and the NSA have programs which specifically target TOR users. Having said this, using TOR will certainly make it more expensive (in terms of resources required) for an intelligence agency to track you, but it certainly doesn’t make it impossible for them.</p><p>

<b>[1]</b> <a href="http://www.wired.co.uk/news/archive/2013-06/24/gchq-tempora-101">http://www.wired.co.uk/news/archive/2013-06/24/gchq-tempora-101</a></p><p>

<b>[2]</b> <a href="http://www.newyorker.com/news/news-desk/were-at-greater-risk-q-a-with-general-keith-alexander">http://www.newyorker.com/news/news-desk/were-at-greater-risk-q-a-with-general-keith-alexander</a></p><p>

<b>[3]</b> Boyd, Jeffrey E., and James J. Little. "Biometric gait recognition." Advanced Studies in Biometrics. Springer Berlin Heidelberg, 2005. 19-42.</p>
            </div>
        </div>
    </div>
</div>