<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		  Reverse Engineering
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Reverse engineering or reversing is the process of analyzing a subject system to identify the system’s components and their interelation-ships and to create representations of the system in another form or at a higher level of abstraction. It also encompasses the critical techniques and sets of tools required to carry out such a process. The roots of reversing come from older disciplines such as mechanical engineering but has been carried over to other disciplines such as software and hardware in recent years to help support interoperability, malware detection and problem determination. Software ubiquity has played a pivotal role in the increased interest of reversing in software.</p><p>
The reasons behind reversing are not always malicious and in some cases were required, for example in legacy systems. Documentation for older systems had been lost and so reverse engineering was undertaken in order to recreate the documentation for the system. Other legitimate reasons include academic/learning purposes, bug fixing and more recently, product security analysis.</p><p>
When a system does not have adequate documentation in order to evaluate its security, some aspect of reverse engineering will have to be used in order to obtain this information. Within a security context, the process itself can be used to create a measure of the security of the system. Vulnerabilities in the system can only be gleaned by understanding the inner-workings of the system. It cannot be used however to understand insider-attacks such as the leaking of sensitive information about the system.</p><p>
Refs:<br/>
"Reverse Engineering and Design Recovery: A Taxonomy". IEEE Software 7
Eliam, E. - Reversing: The Secrets of Reverse Engineering
</p>
            </div>
        </div>
    </div>
</div>