<div class="container">

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Social Engineering
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Definition of social engineering by TechTarget:

Is a non-technical method of intrusion used by hackers that rely on human interaction.  It often involves deceiving people into breaking normal security procedures.</p><p>

How social engineering is performed:</p><p>

In most cases hackers rely on people’s weaknesses and their natural instinct to be helpful.  An example of this is when they call an employee and claim to have an urgent problem that requires access to the network.</p><p>

Hackers use various methods of social engineering in order to achieve their goals:</p><p>

Baiting: is when an attacker will leave a device such as a USB stick in a place where it will be found by an unsuspecting person.  Appealing to the target’s sense of curiosity the target will load it onto their computer and unintentionally install the malware hidden on the device.</p><p>

Phishing: is when the attacker sends someone an email that appears to be genuine but cons the target into installing malware on their computer or sharing financial or personal information.</p><p>

Spam is unsolicited junk mail that relies on the recipient to respond to the message.</p><p>

Tailgating is a physical part of social engineering in which the attacker follows an authorised person into a building to steal property or confidential information.  </p><p>

Shoulder surfing is another method used by attackers that involves physical contact with the target.  The attacker will stand behind the target and memorise the pass code for a door to a building.</p><p>

So, what this tells us is that despite an organisation having the best encryption or firewalls in place, it will not prevent an expert social engineer from gaining access to a system by simply exploiting people who are the main key holders to information. </p><p>

Organisations can take measures to prevent social engineering attacks from occurring by offering staff security awareness training.  Employees will be less likely to become a victim if they are aware of the types of techniques used by hackers to gain access to systems or information and the ways in which they can help prevent such attacks.  The training should also include educating staff on the importance of company data and maintaining its integrity.  
</p>
            </div>
        </div>
    </div>
</div>