<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
            Standards
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Standard is a word which is often used and attributed to different areas of
cyber security. However many times there are disagreements to what a standard
exactly is. To many people a standard is a way of doing something the same way
as everyone else, for example the technical implementation of a cryptographic
algorithm or recommendations for security architectures. However it was not
until 1996 that a standard was formally defined, as found in ISO/IEC Guide 2
as “A document, established by consensus and approved by a recognized body
that provides, for common and repeated use, rules, guidance or characteristics
of activities and their results, aimed at the achievement of the optimum degree
of order in a given context”.</p><p>
It is through this definition that we see how widespread the usage of standards
truly is. We immediately see that we all use standards on a personal level
with the TCP/IP protocol, as well IPSec, both of which are used to provide
protocols to aid in secure communication over the internet, as well as PKCS#3,
which is a standard used in the specification of the RSA encryption scheme.
However on a broader, organisational level, we see usage of series or families
of standards. The key example of these are the ISO/IEC 27000 series of standards,
which work to provide the best practice recommendations on information
security management as well as risks and controls within the context of overall
information security. Within this series we see, for example ISO/IEC 27002,
which is a standard for codes and practices of security management, ISO/IEC
27003 which looks at information security management system implementation
guidelines and ISO/IEC 27007 which is used as a standard for guidelines for
auditing among security management.
</p><p>
There are many reasons why standards are used and why these uses have
become so widespread. The first of which is that using a standard could be
used as an advertising or public relations tool for an organisation as well as
(indirectly) providing expertise for a specific product or service. On top of
this the use of standards can provide a sense of peace of mind and reduced
liability for employees working for an organisation, since these standards have
been approved and as such have been widely looked at and are believed to be
secure and work as intended. Despite this, there are some disadvantages to using
standards. One such disadvantage is that it provides a target for attackers, since
if a standard can be “broken” it could be possible to attack a network or system
much easier. Also, due to the lack of a governing body on the internet it can be
very difficult to withdraw a standard so, if an attacker finds a flaw in a standard
there may be a serious security risk for all the devices using that standard.</p><p>
Looking at cyber security, standards are used to help reduce the chance
of an attack being successful as well as providing a sense of security through
widespread use. This comes from the sheer number of people who can see these
standards and a hope that, if an attacker could find a flaw in a standard then so
too could someone who would report it so corrections could be made.However
these standards are used in one of two main ways in an organisation. An organisation
could decide to deploy the standard and follow it religiously, hence
leading the the advantages and disadvantages as mentioned above, or an organisation
could decide to use the standards as a starting point for creating a
proprietary system, which in itself has its own advantages and disadvantages,
coming from the fact that it is implemented slightly differently to the rest. This
would mean a flaw in the general standard may not have the same flaw in this
proprietary system, however there are now fewer eyes looking at the standard
and as such a flaw could slip past the ‘good’ eyes and be found only by those
who would attack.</p>
            </div>
        </div>
    </div>
</div>