<div class="container">
    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Cyber Warfare
		</h2>
            <hr class="featurette-divider">
            <div>
                <p>Cyber Warfare is defined as actions taken in cyberspace by a nation-state in order to disrupt, disable or destroy the networks of another nation-state. The increase in the number of internet-connected devices, and our reliance upon them, raises the potential impact of an act of Cyber Warfare. There is a blurred line between acts of cyber warfare by governments and cyber attacks carried out by civilians and/or groups not directly linked to government, but with an understood, unstated, state backing.</p><p>

Since the start of the twenty first century, nation-states have begun to establish armed forces in the cyber domain, most notably the United States whose Cyber Command (USCYBERCOM) brought together the previous Navy, Air Force and Army cyber-dedicated units into a singular entity, which is overseen by the director of the NSA. North Korea have also established a cyber warfare department, and are taking talented youngsters from their schools and training them in the art of hacking and other cyber skills [3]. It is also believed that North Korea has “disconnected its own critical servers from the internet” as a method of lowering the potential damage that a cyber attack could cause. </p><p>

Other countries, such as Russia, Israel, China and the United Kingdom are also major players in terms of cyberwarfare capabilities. Russia has put Cyberspace at the top of their list of priorities for military research and development [2], the United Kingdom has invested heavily to increase its cyber capabilities (see ‘Security Strategies’), and China is believed to be the biggest threat to the United States in cyberspace – getting a first mention in the ‘adversaries’ section of the US Cyber Security Strategy for 2015.</p><p>

Nation states see offensive and defensive capabilities in cyberspace as key components of their cyber security goals. In terms of cyberwarfare, for a nation-state, cyber security represents the securing of networks and key infrastructure (including those of allies) potentially vulnerable to cyber-attacks from ‘enemy’ nation-states. </p><p>

Broadly speaking, Cyber Warfare is broken down into two types. Firstly, we have actions taken in cyberspace to support more traditional actions of war, such as the disabling of a Syrian Missile Defence System (MDS) by the Israeli army in 2007. This disablement enabled Israeli jets to carry out an airstrike on a facility in Syria which was suspected to be manufacturing weapons of mass destruction.</p><p>

Secondly, we have ‘standalone’ actions of Cyber Warfare such as the DDOS attack on Estonia suspected to be carried out by, or with the approval of, the Russian government. This cyber attack devastated Estonia blocking the websites of banks, news stations and government departments as well as disruptions elsewhere. These two examples show that Cyber Warfare is already taking place, albeit in a secretive manner, with governments not always keen to claim credit for their acts of war. </p><p>

Estimating the size of these cyber armed forces around the world is difficult, due to the secretive nature of the forces. However, it is believed that the USCYBERCOM currently has around 3,000 employees with the intention of doubling that number [1]. North Korea is believed to have a cyber warfare department of a similar size - around 3,000 personnel [3] – despite a population 7% of the size of the United States. Unlike traditional warfare, Cyber Warfare is carried out on a more level playing field. In cyberspace, it takes far less manpower to bring down a nation than it would in the domains of land, sea and air and, as we have seen above, the cyber armies of North Korea and the US are of a similar size. Indeed, aggressive acts in cyberspace are becoming a new facet in foreign policy, and with North Korea and the United States potentially having the same cyber capabilities, a shift in the balance of world politics could be among us. </p><p>

<b>[1]</b> http://www.defenseone.com/threats/2015/02/us-cyber-command-has-just-half-staff-it-needs/104847/</p><p>

<b>[2]</b> C Cîrlig. 2014. Cyber Defence in the EU – Preparing for Cyber Warfare. European Parliamentary Research Service.</p><p> 

<b>[3]</b> R Clarke. 2011. Cyber War. Harper Collins.</p><p>
</p>
            </div>
        </div>
    </div>
</div>